<script>
  FontAwesomeConfig = { searchPseudoElements: true };
</script>

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
a.nav-link {
    text-align: center;
}
.alert {
    font-size: 1.1em;
    font-weight: 600;
}
.fa-heart:hover, a, .page-link, .post-likes, .comment-likes {
	color: #2A2C43 !important;
}
.subheading, .nav-link, .fa-heart, .not-clickable-heart:hover
{
	color: #f2b632 !important;
}
.nav-link:hover 
{
	color: #906509 !important;
}
a:focus, a:hover {
    color: #f2b632 !important;
    text-decoration: unset !important;
}
.btn-primary {
    font-weight: 600 !important;
    background-color: unset !important;
    border: 2px solid #2A2C43 !important;
    color: #2A2C43 !important;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #2A2C43 !important;
    border: 2px solid #2A2C43 !important;
    color: #fff !important;
    box-shadow: unset !important;
}
.page-item.active .page-link {
    z-index: 2;
    color: #fff !important;
    background-color: #2A2C43 !important;
    border-color: #2A2C43 !important;
}
.page-link:focus {
    box-shadow: unset !important;
}
.post-preview>a:focus, .post-preview>a:hover {
    text-decoration: none;
    color: #f2b632 !important;
}
.white {
	color: #fff !important;
}
.disabled a
{
	color: #868e96 !important;
}
.dropdown-item:active {
    background-color: unset !important;
}
article p, h2, h1, h3 {
    word-wrap: break-word;
}
.post-heart, .post-flag {
    font-size: 1.5em;
}
.comment-heart, .comment-flag {
    font-size: 1.25em;
}
.post-likes {
    font-size: 1.5em;
    font-weight: 700;
}
.comment-likes {
    font-size: 1.25em;
    font-weight: 600;
}
.floating-label-form-group label {
    font-size: 1.5em !important;
    top: 0em !important;
    opacity: 1 !important; 
}
.floating-label-form-group-with-focus label {
  color: #f2b632 !important; 
}
.successIcon::after {
  display: none;
  font-family: "Font Awesome 5 Solid";
  content: "\f058";
}
.dangerIcon::after {
  display: none;
  font-family: "Font Awesome 5 Solid";
  content: "\f119";
}