button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.fa-heart:hover, a, .page-link, .post-likes, .comment-likes {
	color: #2A2C43 !important;
}
.subheading, .nav-link, .fa-heart, .not-clickable-heart:hover
{
	color: #f2b632 !important;
}
.nav-link:hover 
{
	color: #906509 !important;
}
a:focus, a:hover {
    color: #f2b632 !important;
    text-decoration: unset;
}
.btn-primary {
    background-color: unset; !important;
    border: 2px solid #2A2C43 !important;
    color: #2A2C43 !important;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #2A2C43 !important;
    border: 2px solid #2A2C43 !important;
    color: #fff !important;
    box-shadow: unset !important;
}
.page-item.active .page-link {
    z-index: 2;
    color: #fff !important;
    background-color: #2A2C43;
    border-color: #2A2C43;
}
.post-preview>a:focus, .post-preview>a:hover {
    text-decoration: none;
    color: #f2b632 !important;
}
.white {
	color: #fff !important;
}
.disabled a
{
	color: #868e96 !important;
}
.dropdown-item:active {
    background-color: unset !important;
}
article p, h2, h1, h3 {
    word-wrap: break-word;
}
.post-heart, .post-flag {
    font-size: 1.5em;
}
.comment-heart, .comment-flag {
    font-size: 1.25em;
}
.post-likes {
    font-size: 1.5em;
    font-weight: 700;
}
.comment-likes {
    font-size: 1.25em;
    font-weight: 600;
}