{% extends'template.html.twig' %}

{% block pageHeader %}

    <h1>Nouveau post</h1>
    <span class="subheading">Veuillez remplir le formulaire ci-dessous pour ajouter votre nouveau post !</span>

{% endblock %}

{% block mainContent %}
				
    <form method="POST" action="/addpost" novalidate>
    	{% include 'postForm.html.twig' %}
    	<div class="form-group">
    		<button type="submit" class="btn btn-primary">Ajouter votre post</button>
		</div>
	</form>

{% endblock %}