{% extends'template.html.twig' %}

{% block pageHeader %}

    <h1>Nouvel utilisateur</h1>
    <span class="subheading">Veuillez remplir le formulaire ci-dessous pour vous inscrire !</span>
        
{% endblock %}

{% block mainContent %}

    <form action="/addUser" method="POST" novalidate>
        {% include 'userForm.html.twig' %}
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Inscription</button>
		</div>
    </form>

{% endblock %}