{% extends'template.html.twig' %}

{% block pageHeader %}

    <h1>Se connecter</h1>
    <span class="subheading">Entrez vos informations dans le formulaire ci-dessous</span>

{% endblock %}

{% block mainContent %}
				
    <form action="/auth" method="POST" novalidate>
        {% include 'userForm.html.twig' %}
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Connexion</button>
		</div>
	</form>

{% endblock %}