<div class="control-group">
	<div class="form-group floating-label-form-group controls">
    	<label>Commentaire</label>
    	<textarea rows="5" class="form-control" placeholder="Vous pouvez écrire un commentaire ici." name="content">{{ comment.content }}</textarea>
	</div>
</div>
<br>