{% extends'template.html.twig' %}

{% block pageHeader %}

    <h1>Contactez moi</h1>
    <span class="subheading">Vous avez des questions ? N'hésitez pas à m'envoyer un message.</span>
    
{% endblock %}

{% block mainContent %}

    <p>Remplissez le formulaire pour m'envoyer un message, je vous répondrai dès que possible !</p>
    <form method="POST" action="/contact" novalidate>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <label>Nom</label>
                <input type="text" class="form-control" name="nom">
            </div>
        </div>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <label>Prénom</label>
                <input type="text" class="form-control" name="prenom">
            </div>
        </div>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <label>Adresse e-mail</label>
                <input type="email" class="form-control" name="email">
            </div>
        </div>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <label>Message</label>
                <textarea rows="5" class="form-control" name="message"></textarea>
            </div>
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
    </form>

{% endblock %}