<div class="control-group">
    <div class="form-group floating-label-form-group controls">
        <label for="title">Titre</label>
        <input type="text" class="form-control" value="{{ post.title }}" name="title" id="title">
    </div>
</div> 	
	<div class="control-group">
    <div class="form-group floating-label-form-group controls mt-2">
        <label for="intro">Introduction</label>
        <textarea rows="3" class="form-control" name="intro" id="intro">{{ post.intro }}</textarea>
    </div>
</div>
<div class="control-group">
    <div class="form-group floating-label-form-group controls mt-2">
        <label for="content">Contenu</label>
        <textarea class="form-control trumbowyg" name="content" id="content">{{ post.content }}</textarea>
        <input type="hidden" name="csrf" value="{{ csrf }}">
    </div>
</div>
<br>