<div class="control-group">
    <div class="form-group floating-label-form-group controls">
        <label>Titre</label>
        <input type="text" class="form-control" value="{{ post.title }}" name="title">
    </div>
</div> 	
	<div class="control-group">
    <div class="form-group floating-label-form-group controls mt-2">
        <label>Introduction</label>
        <textarea rows="3" class="form-control" name="intro">{{ post.intro }}</textarea>
    </div>
</div>
<div class="control-group">
    <div class="form-group floating-label-form-group controls mt-2">
        <label>Contenu</label>
        <textarea class="form-control trumbowyg" name="content">{{ post.content }}</textarea>
    </div>
</div>
<br>