<div class="form-group">
	<label for="reason">Quelle est la raison du signalement ?</label>
	<textarea name="reason" id="reason" class="form-control" rows="3">{{ report.reason }}</textarea>
	<input type="hidden" name="csrf" value="{{ csrf }}">
</div>
<button type="submit" class="btn btn-primary">Envoyer</button>