<div class="form-group">
	<label>Quelle est la raison du signalement ?</label>
	<textarea name="reason" class="form-control" rows="3">{{ report.reason }}</textarea>
</div>
<button type="submit" class="btn btn-primary">Envoyer</button>