{% extends'template.html.twig' %}

{% block pageHeader %}

    <h1>Modifier un post</h1>
    <span class="subheading">Veuillez remplir le formulaire ci-dessous pour modifier le post !</span>

{% endblock %}

{% block mainContent %}
				
    <form method="POST" action="/updatepost/{{ post.id }}" novalidate>
    	{% include 'postForm.html.twig' %}
    	<div class="form-group">
    		<button type="submit" class="btn btn-primary">Modifier votre post</button>
		</div>
	</form>

{% endblock %}