<div class="control-group">
	<div class="form-group floating-label-form-group controls">
		<label for="id">Identifiant</label>
		<input type="text" class="form-control" name="id" id="id">
	</div>
</div>
<div class="control-group">
	<div class="form-group floating-label-form-group controls">
		<label for="password">Mot de passe</label>
		<input type="password" class="form-control" name="password" id="password">
	</div>
</div>
<br>
