<div class="control-group">
	<div class="form-group floating-label-form-group controls">
		<label for="id">Identifiant</label>
		<input type="text" class="form-control" name="id" id="id" value="{{ user.id }}">
	</div>
</div>
<div class="control-group">
	<div class="form-group floating-label-form-group controls">
		<label for="password">Mot de passe</label>
		<input type="password" class="form-control" name="password" id="password">
		<input type="hidden" name="csrf" value="{{ csrf }}">
	</div>
</div>
<br>
